meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
link(rel='shortcut icon', type='image/x-icon', href='photos/logos.png')
meta(name='viewport', content='width=device-width, initial-scale=1', user-scalable='yes')
title Arthur Soon - Photographe Bordeaux
link(rel='stylesheet', media='screen', href='stylesheets/style.css')
meta(name='Description', content="Photographe  professionnel à Bordeaux, l'artiste surréaliste Arthur Soon photographie en remettant la nature aux centre de ses oeuvres. Décorez votre intérieur avec des photos réalisées par un photographe professionnel.")
meta(property='og:url', content='http://www.arthursoon.com')
meta(property='og:type', content='article')
meta(property='og:title', content='Arthur Soon')
meta(property='og:description', content='Artiste surréaliste remettant la nature au premier plan.')
meta(property='og:image', content='http://www.arthursoon.com/ressources/logo.png')
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://code.createjs.com/createjs-2015.11.26.min.js')
script(src='ressources/logo.js')


